<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CKAPIToken</key>
	<string>2d6c74db11dd3dfff4384a666e6b25d92ed135e66643a144b42af5bcf5654e4f</string>
	<key>CKKitURL</key>
	<string>http://campaignkit-staging.radiusnetworks.com/sdk/v1/kits/2</string>
	<key>PKAPIToken</key>
	<string>2409e303b19289e7bd6b496cd8bb767231f313aab469ed3624cde3a940f00b9a</string>
	<key>PKKitURL</key>
	<string>http://proximitykit.radiusnetworks.com/api/kits/3610</string>
	<key>PKAnalyticsURL</key>
	<string>http://analytics-staging.radiusnetworks.com/sdk/v1/events</string>
</dict>
</plist>
