<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!--
	Download this file to 'CampaignKit.plist' in your project folder, then drag it into Xcode to configure the library.
-->
<dict>
    <key>CKAPIToken</key>
    <string>6b5ac56a18616878b2d7dcbfc511a683d396dda791695ab3c2fb050a82fa3c18</string>
    <key>CKKitURL</key>
    <string>http://campaignkit.radiusnetworks.com/sdk/v1/kits/195</string>
    <key>PKAPIToken</key>
    <string>deb1cfa36ff1f865ef0d1b9c92ee41b3584ea5695cebfe64ca0b8cab9c485974</string>
    <key>PKKitURL</key>
    <string>https://proximitykit.radiusnetworks.com/api/kits/5050</string>
    <key>PKAnalyticsURL</key>
    <string>https://analytics.radiusnetworks.com/sdk/v1/events</string>
</dict>
</plist>

